<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Specific Panther Display</title>
</head>
<body>
    <h2>Display of <%= magic[0].name %></h2>
    <h3>Level: <%= magic[0].level %></h3>
    <%= magic[0].weapon %>
    
    <a href="/panthers/edit/<%= magic[0].id %>">Edit?</a>
    <form method="post" action="/panthers/destroy/<%= magic[0].id %>"><input type='submit' value="Delete <%= magic[0].name %>"></form>
    
</body>
</html>